<h2>Provide an e-mail to complete sign up.</h2>

<%= form_for @user, url: '/twitter_signup' do |f| %>
    <%= f.label :email a%>
    <%= f.text_field :email %>
    
    <%= f.submit "Join" %>
    
    <%= f.hidden_field :provider %>
    <%= f.hidden_field :uid %>
<% end %>