<div class='post'>
    <h2>
        <%= link_to post.title, post %>
    </h2>
    <p><%= post.lead %></p>
    <small class='byline'>
        By <%= post.author %> on <%= post.created_at %>
    </small>
    <div>
        <%= pluralize(post.likes.count, "person") %> 
        <%= post.likes.count == 1 ? "likes" : "like" %> 
        this.
    </div>
</div>